
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a Barking Permit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        You're eligible for a barking permit if you have four legs, floppy or springy ears, or if you're a very good boy.
      </p>

      <p>
        Applying takes about five minutes, you may need an animal with opposable thumbs to help you.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

{% endblock %}
